html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.fe-col {
  background-color: #008848 !important;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    display: none;
  }
}

/* .errcolor {
} */

.w3-left {
  width: 40%;
  padding: 3% 0% 1% 0%;
}
.w3-center w3-padding {
  font-family: "Volkhov", serif;
}
.w3-container w3-margin w3-white {
  min-height: 38em;
}
.w3-modal-content w3-animate-zoom w3-border {
  max-width: 400px;
  margin-top: 5em;
}
#a_forgot {
  color: red;
}
